extends layout

block content

	a(href='/create',class='new') log new tidepool

	each tidepool in tidepools
		li
			a(href='/#{tidepool.number}') #{tidepool.number}. #{tidepool.date} #{tidepool.time}

